.idea/*
__pycache__/*
data/*
*.h5
build/*
dist/*
main.spec
saved_models/*
deep_learning/__pycache__/*
deep_learning/prose/__pycache__/*
deep_learning/prose/models/__pycache__/*
gui/__pycache__/*
renderers/__pycache__/*
deep_learning/deepfrier/__pycache__/*
test_proteins/*
