@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body {
    padding-left: 12%;
    padding-top: 5%;
    line-height: 2.0;
    font-family: 'Lato', sans-serif;
    color: #323232;
    font-size: 16px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 16px;
}

nav {
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
    margin-right: 10px;
    position: sticky;
    position: -webkit-sticky;
    top: 48px;
}

nav a {
    display: block;
}

a:link, a:visited, a:active {
    color: #136a6b;
}

nav a:link, nav a:visited, nav a:active {
    color: #323232;
    text-decoration: none;
}

a:hover, nav a:hover {
    color: #2aa383;
    text-decoration: underline;
}

section, footer {
    float: left;
    margin: 0;
    padding: 0;
    display: inline;
    width: 75%;
}

footer {
    padding: 2em;
    text-align: center;
    color: #989898;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    background-color: #5b5e5e;
    color: #e6eced;
    border-radius: 2px;
    padding: 1px;
    margin-left: 1px;
    margin-right: 1px;
}

img {
    width: 100%;
}

#Icon  {
    width: 16px;
    padding-left: 6px;
}

body {
    display: flex;
}

@media(max-width: 1024px) {
    section {
        width: 100%;
    }

    body {
        display: block;
        padding: 0;
        margin-left: 8%;
        margin-right: 8%;
    }

    nav {
        position: static;
    }
}